<a href="https://colab.research.google.com/github/Arshnoor7/Mini-Project-Tweets-Search/blob/main/Tweets_Search.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Install Package**

In [1]:
!pip install tweepy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: tweepy in /usr/local/lib/python3.10/dist-packages (4.13.0)
Requirement already satisfied: oauthlib<4,>=3.2.0 in /usr/local/lib/python3.10/dist-packages (from tweepy) (3.2.2)
Requirement already satisfied: requests<3,>=2.27.0 in /usr/local/lib/python3.10/dist-packages (from tweepy) (2.27.1)
Requirement already satisfied: requests-oauthlib<2,>=1.2.0 in /usr/local/lib/python3.10/dist-packages (from tweepy) (1.3.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.27.0->tweepy) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.27.0->tweepy) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.27.0->tweepy) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.27.0->tweepy) (3.4)

**Add Credentials**

In [2]:
access_token = "501682241-ZG1DshytyxUIUY8FXPoH2AXaDG9d5DQlORemfAzU"
access_token_secret = "mxwCYkDjgWG5qWy8ONtVs3j2lxiYSxyberVVa92jmd27z"
consumer_key = "we0Drpnvc1FZNazKkiKoFWlGf"
consumer_secret = "OXRvmJwM6ca9k90XMIMoktSCa5XvjNieqJivcfjbOAlmpO6RhH"

In [3]:
import os
import tweepy as tw
import pandas as pd

In [4]:
auth = tw.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tw.API(auth, wait_on_rate_limit=True)

*Look for tweets and build a dataframe*

In [ ]:
# Collect tweets
results = api.search(q='dengue', count=100)

# We create a pandas dataframe as follows:
data = pd.DataFrame(data=[tweet.text for tweet in results], columns=['Tweets'])

Find more at [Tweet Extraction](https://github.com/RodolfoFerro/pandas_twitter/blob/master/01-extracting-data.md)

In [ ]:
data

                                               Tweets
0   RT @f_g_zampieri: @Jopo_dr @GoodishIntent +1 f...
1   RT @rabihmgeha: Zika, Chikungunya and Dengue.\...
2   ALLENDE, COAHUILA.-\n\nhttps://t.co/95HboRJAYA...
3   Friend admitted for dengue in sick room, share...
4   RT @BloodDonorsIn: #Mohali\nNeed #Blood Type :...
..                                                ...
95  RT @k86706163: @MDaudkamboh @IamIqraNasir hmm ...
96  Salud Colima: Llegada de serotipo 3 puede aume...
97  سی ای او ایل ڈبلیو ایم سی کی ہدایات پر نشتر ٹا...
98  RT @danaparish: @fitterhappierAJ Wow. I hear f...
99  RT @ETimesTV: When Jhalak Dikhhla Jaa 10 parti...

[100 rows x 1 columns]